table {
    border: 2px solid #1c4e80; /* Change color code to your desired shade of blue */
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    background-color: #f6e3a3; /* Change color code to your desired shade of yellow */
  }
  
  td, th {
    border: 1px solid #1c4e80; /* Change color code to your desired shade of blue */
    padding: 8px;
    text-align: left;
  }
  
  
